
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 15%;
    --primary: 348 96% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 98%;
    --secondary-foreground: 210 10% 15%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 10% 45%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 210 10% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 90%;
    --input: 210 40% 90%;
    --ring: 348 96% 43%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 210 10% 15%;
    --foreground: 0 0% 100%;
    --card: 210 10% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 210 10% 15%;
    --popover-foreground: 0 0% 100%;
    --primary: 348 96% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 10% 25%;
    --muted-foreground: 210 10% 65%;
    --accent: 210 10% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 348 96% 53%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
